.contactForm {
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 30%;
}

.field {
  display: flex;
  width: fit-content;
  color: var(--terminalTabFocusColor);
  & label {
    width: 5rem;
    color: var(--terminalTabFocusColor);
  }

  & input,
  & textarea {
    color: var(--stringColor);
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    resize: none;
    width: 30vh;
    outline: none;
  }
}

.submit {
  & input {
    border: 1.5px solid var(--leftLineColor);
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    color: var(--terminalTabFocusColor);
    cursor: pointer;
    padding: 5px 10px;
  }

  & input:disabled {
    background-color: var(--disabledColor);
    cursor: not-allowed;
    opacity: 0.6;
  }
  & input:hover:not(:disabled) {
    background-color: var(--highlightColor);
    transform: scale(1.05); /* Slight hover effect */
  }
}

.submitTxt {
  font-size: 1rem;
  text-align: left;
  margin-top: 1rem;
  display: none; /* Hidden initially */
  opacity: 0;
  transition: opacity 0.5s ease;

  & .success {
    color: #4caf50;
  }

  & .error {
    color: #f44336; /* Red for error */
  }
}

@media only screen and (max-width: 1340px) {
  .contactForm {
    width: 100%;
  }

  .field {
    row-gap: 0;

    & label {
      width: 3rem;
      font-size: 0.8rem;
    }

    & input,
    & textarea {
      border: none;
      background-color: transparent;
      box-sizing: border-box;
      resize: none;
      width: auto;
      outline: none;
    }
  }

  .submit {
    & input {
      font-size: 0.6rem;
    }
  }
}
